*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.navbar {
    margin: 30px;
    border-radius: 16px;
box-shadow: 0px 0px 41px 1px rgba(166,127,127,0.75);
-webkit-box-shadow: 0px 0px 41px 1px rgba(166,127,127,0.75);
-moz-box-shadow: 0px 0px 41px 1px rgba(166,127,127,0.75);
visibility: hidden;
opacity: 0;
animation: show-nav 1.5s linear forwards;
}
@keyframes show-nav {
    100% {
        visibility: visible;
        opacity: 1;
    }
}
.navbar-brand {
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.navbar-brand:hover {
    color: hsl(0, 0%, 90%);
    transform: translateX(8px);
    font-size: 1.9rem;
}
.navbar-nav {
    font-size: 1.3rem;
}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
    padding: 60px 9%  0;
}
.mother {
    background: hsl(0, 0%, 10%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.informations {
    border-radius: 20px;
    padding: 200px 100px;
    border: 2px solid hsl(0, 0%, 20%);
    display: flex;
    align-items: center;
    gap: 10rem;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
.imagess {
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 40px;
    opacity: 0;
    visibility: hidden;
    animation: smoothimage 1.5s linear forwards;
}
@keyframes smoothimage {
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.texts {
    color: hsl(0, 0%, 60%);
}
.Name {
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
}
.links {
    margin-top: 32px;    
}
.links a{
    border: 1.2px solid hsl(0, 0%, 60%);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.blueone {
    display: inline-block;
    border: 2px solid hsl(227, 43%, 54%) !important;
    background-color: hsl(227, 43%, 54%);
    margin-right: 15px;
    box-shadow: 0px 0px 12px 2px rgba(87,109,188,0.75);
-webkit-box-shadow: 0px 0px 12px 2px rgba(87,109,188,0.75);
-moz-box-shadow: 0px 0px 12px 2px rgba(87,109,188,0.75);
transition: all 300ms ease-in-out;
}
.blueone:hover {
    background-color: hsl(300, 76%, 72%);
    transform: scale(.9);
}
.lightone {
    display: inline-block;
transition: all 300ms ease-in-out;
}
.lightone:hover {
    background-color: hsl(0, 0%, 50%);
    transform: translateX(3px) !important;
}